# Introduction: Business Problem 

In this project we will try to predict the monthly rental price for a condominium. Specifically, this report will be targeted to stakeholders interested in finding the best value in renting a condominium in Singapore.

We will use our data science powers to find optimum rental price and recommend stake holders the best values and similar units for the stakeholders.

# Similar Listing Recommender
Create a tool to recommend similar listing according to users preference using unsupervise machine learning method.

# Imports

In [1002]:
#!pip install dill

In [1003]:
import pandas as pd
import numpy as np


import pickle
import dill

from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.neighbors import NearestNeighbors
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.base import BaseEstimator, TransformerMixin

In [1004]:
df_train = pd.read_pickle('Data/df_train')
df_test = pd.read_pickle('Data/df_test')

In [1005]:
# we will remove the id 524 as it is an anomoly as found in 03 Feature Modelling
df_test.iloc[524:525]

,detailed_address,lat,long,bedrooms,bathrooms,sqft,built_year,amenities,mrt_name,building_name,tenure,link,picture_url,price_month,walking_time,distance,studio,district_number
7442,10 Martin Place,1.293351,103.838452,2.0,4.0,7646,2021.0,"[Water feature, Gym, Pool deck, Lounge, Jacuzz...",Somerset MRT,Martin Modern,0,https://www.99.co/singapore/rent/property/mart...,https://financialtribune.com/sites/default/fil...,6500,25.0,2454.0,0,9

In [1006]:
df_test = df_test.drop(index=7442)

In [1007]:
#we will merge both df_train & df_test as unsupervise learning does not require it to be split.
df_recommender = pd.concat([df_train, df_test], ignore_index=True)

In [1008]:
# remove all amenities in listing except for swimming & gym as it is a common feature that user might be interested in
def relevantamenities(x: list):
    
    relevant = ['Gym', 'Swimming pool']
    
    return [amenity for amenity in x if amenity in relevant]

In [1009]:
df_recommender['amenities'] = df_recommender.amenities.apply(relevantamenities)

In [1010]:
#transform the amenities into feature
ct = make_column_transformer(
    #to apply CountVectorizer to list of words we should disable analyzer by lambda x:x.
    (CountVectorizer(analyzer=lambda x: x), 'amenities'),
    remainder = 'passthrough',
)

In [1011]:
df_recommender = pd.DataFrame(ct.fit_transform(df_recommender), columns=ct.get_feature_names())

In [1012]:
#user input ['district', 'mrt', 'built_year', 'walking_time_to_mrt', 'sqft', 'pool', 'gym']

df_recommender = df_recommender.rename(columns={'countvectorizer__Gym':'gym', 
                                                'countvectorizer__Swimming pool':'pool', 
                                                'mrt_name':'mrt', 
                                                "walking_time":'walking_time_to_mrt', 
                                                'district_number':'district'})

# Combining Neighbourhood Cluster

In [1013]:
df_cluster = pd.read_csv('Data/df_cluster.csv')

In [1014]:
df_cluster = df_cluster.drop(['lat', 'long'], axis=1)

In [1015]:
#creating recommender column to combine with cluster df
df_recommender['address_to_combine'] = df_recommender.detailed_address.str.extract(r'[\s]([a-zA-Z\s]+)') + [', Singapore']

In [1016]:
df_recommender = pd.merge(left= df_recommender,
                            right = df_cluster,
                            how = 'inner',
                            left_on = 'address_to_combine',
                            right_on = 'address')
df_recommender = df_recommender.drop(['address_to_combine', 'address'], axis=1)

# For Recommending Similar Listing Input

In [1017]:
#we will create a recommender df that makes prediction according to user input and extract information on main_df to display on web
model_df = df_recommender.copy()
model_df = model_df[['district', 'mrt', 'built_year', 'walking_time_to_mrt', 'sqft', 'pool', 'gym', 'price_month', 'cluster_label']]

In [1018]:
#changing datatypes
for col in model_df:
    model_df[col] = pd.to_numeric(model_df[col], errors='ignore')

## Applying  OneHotEncoder & MixMaxScaler to MRT

In [1019]:
#one hot encode mrt column
ct = make_column_transformer(
    #to apply CountVectorizer to list of words we should disable analyzer by lambda x:x.
    (OneHotEncoder(handle_unknown='ignore'), ['mrt']),
    (MinMaxScaler(), ['built_year', 'walking_time_to_mrt', 'sqft', 'price_month', 'district', 'cluster_label']),
    remainder = 'passthrough',
)

In [1020]:
ct.fit(model_df);

In [1021]:
#note sklearn 1.0.0 has impleted methods that are easier to extract feature named pass in column transformer

#feature of OHE
feature1 = ct.named_transformers_.onehotencoder.get_feature_names().tolist()
#feature of MinMaxScaler
feature2 = ['built_year', 'walking_time_to_mrt', 'sqft', 'price_month', 'district', 'cluster_label']

#feature of passthrough
indices = ct.transformers_[-1][-1]
feature3 = model_df.columns[indices].tolist()

#combine 
all_feature = feature1 + feature2 + feature3

In [1022]:
#transforming the model
model_df_tr = pd.DataFrame(ct.transform(model_df).toarray(), columns=all_feature)
model_df_tr;

## Feature Weighting

We will write a class that allow us to adjust importance of each feature based on importance of a feature for a user.

In [1023]:
class FeatureImportanceScale(BaseEstimator, TransformerMixin):
    
    def __init__(self, importance:dict):
        
        """
        eg
        'price_month' : 100
        'district' : 100
        
        Note current implementation does not work on feature that is onehotencoded
        """
        
        self.importance = importance        
        pass
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        
        X_temp = X.copy()
        
        for feature, scale in self.importance.items():
            X_temp[feature] = X_temp[feature] * scale
        
        return X_temp

# NearestNeighbour - Recommending User Similar Listing

In [1024]:
df_similar = model_df_tr.copy()

#drop cluster_label
df_similar = df_similar.drop('cluster_label', axis=1)
importance = {'price_month' : 100,
              'district' : 100}
feature_importance = FeatureImportanceScale(importance)
df_similar_tr = feature_importance.fit_transform(df_similar)

In [1025]:
#train model
neigh = NearestNeighbors()
neigh.fit(df_similar_tr);

In [1026]:
index = neigh.kneighbors(df_similar_tr.iloc[15:16],  return_distance=False)

In [1027]:
#displaying the recommended listing
selected_index = np.reshape(index, -1)

df_recommender.iloc[selected_index]

,gym,pool,detailed_address,lat,long,bedrooms,bathrooms,sqft,built_year,mrt,building_name,tenure,link,picture_url,price_month,walking_time_to_mrt,distance,studio,district,cluster_label
61,1,1,42 Cairnhill Road,1.302997,103.837785,4.0,4.0,3972,2008.0,Somerset MRT,Tan Chin Tuan Mansion,1,https://www.99.co/singapore/rent/property/tan-...,https://pic.99.co/v3/TzNn2d3qwu4xuEoHExGbs2?wi...,16000,15.0,1161.0,0,9,-1
74,1,1,42 Cairnhill Road,1.302997,103.837785,4.0,4.0,3972,2008.0,Somerset MRT,Tan Chin Tuan Mansion,1,https://www.99.co/singapore/rent/property/tan-...,https://pic.99.co/v3/6BNCPcYHP3cevTcmcS7qQo?wi...,16000,15.0,1161.0,0,9,-1
15,1,1,42 Cairnhill Road,1.302997,103.837785,4.0,4.0,3972,2008.0,Somerset MRT,Tan Chin Tuan Mansion,1,https://www.99.co/singapore/rent/property/tan-...,https://pic.99.co/v3/LwFEobKHD3hgF9WfGYeSFa?wi...,16000,15.0,1161.0,0,9,-1
14,1,1,42 Cairnhill Road,1.302997,103.837785,4.0,4.0,3972,2008.0,Somerset MRT,Tan Chin Tuan Mansion,1,https://www.99.co/singapore/rent/property/tan-...,https://pic.99.co/v3/Ke3PrXwoY7WqTe4oywxz7L?wi...,16000,15.0,1161.0,0,9,-1
2626,1,1,22 Saint Thomas Walk,1.297918,103.835777,5.0,4.0,3347,2010.0,Somerset MRT,Skypark,1,https://www.99.co/singapore/rent/property/skyp...,https://pic.99.co/v3/5arcHRH4WcfFzkh7bHsbq9?wi...,16888,10.0,421.0,0,9,5

# For Recommending Similar Neighbhourhood

In [1028]:
df_neighbourhood = model_df_tr.copy()

#drop cluster_label
df_neighbourhood = df_neighbourhood.drop('district', axis=1)
importance = {'price_month' : 100,
              'cluster_label' : 100}
feature_importance_cluster = FeatureImportanceScale(importance)
df_neighbourhood_tr = feature_importance_cluster.fit_transform(df_neighbourhood)

In [1029]:
#train model
neigh_clus = NearestNeighbors()
neigh_clus.fit(df_neighbourhood_tr);

In [1030]:
index = neigh_clus.kneighbors(df_neighbourhood_tr.iloc[200:201],  return_distance=False)

In [1031]:
#displaying the recommended listing
selected_index = np.reshape(index, -1)

df_recommender.iloc[selected_index]

,gym,pool,detailed_address,lat,long,bedrooms,bathrooms,sqft,built_year,mrt,building_name,tenure,link,picture_url,price_month,walking_time_to_mrt,distance,studio,district,cluster_label
128,1,1,16 Enggor Street,1.274241,103.844755,1.0,1.0,752,2014.0,Tanjong Pagar MRT,Altez,0,https://www.99.co/singapore/rent/property/alte...,https://pic.99.co/v3/cbpvKcWiQz6iNZpfcugTJP?wi...,4900,5.0,253.0,0,2,2
304,1,1,16 Enggor Street,1.274241,103.844755,1.0,1.0,752,2014.0,Tanjong Pagar MRT,Altez,0,https://www.99.co/singapore/rent/property/alte...,https://pic.99.co/v3/YfU8Pwr83HhTQHsyDipzpF?wi...,4900,5.0,253.0,0,2,2
290,1,1,16 Enggor Street,1.274241,103.844755,1.0,1.0,752,2014.0,Tanjong Pagar MRT,Altez,0,https://www.99.co/singapore/rent/property/alte...,https://pic.99.co/v3/AxP5QVqzu65FaQJBQA4hvZ?wi...,4900,5.0,253.0,0,2,2
200,1,1,16 Enggor Street,1.274241,103.844755,1.0,1.0,752,2014.0,Tanjong Pagar MRT,Altez,0,https://www.99.co/singapore/rent/property/alte...,https://pic.99.co/v3/EFsP9EJGiPcHFayuc3qh2V?wi...,4900,5.0,253.0,0,2,2
215,1,1,16 Enggor Street,1.274241,103.844755,1.0,1.0,752,2014.0,Tanjong Pagar MRT,Altez,0,https://www.99.co/singapore/rent/property/alte...,https://pic.99.co/v3/KkhtvPri8XrX84N7aAaasD?wi...,4900,5.0,253.0,0,2,2

# Testing User Input

In [1032]:
#test user input
user_input = {
    'price_month' : 1489,
    'district' : 7,
    'mrt' : 'Tampines MRT',
    'built_year' : 1980,
    'walking_time_to_mrt' : 22,
    'sqft' : 123,
    'pool' : 1,
    'gym': 1,
    'cluster_label' : 2
}

#need to rearrange column as per fit for ct
#for recommending similar listing
rearrange = ['district', 'mrt', 'built_year', 'walking_time_to_mrt', 'sqft', 'pool', 'gym', 'price_month', 'cluster_label']

testing = pd.DataFrame.from_dict(user_input, orient='index').T
testing = testing[rearrange]

In [1033]:
#transform into dataframe
user = pd.DataFrame(ct.transform(testing).toarray(), columns=all_feature)

### Similar Listing

In [1034]:
user_sim = user.drop('cluster_label', axis=1)

In [1035]:
#update the weight of the feature (eg put more importance on price and district)
user_sim = feature_importance.transform(user_sim)

In [1036]:
#display recommender
index = neigh.kneighbors(user_sim,  return_distance=False)
selected_index = np.reshape(index, -1)
df_recommender.iloc[selected_index]

,gym,pool,detailed_address,lat,long,bedrooms,bathrooms,sqft,built_year,mrt,building_name,tenure,link,picture_url,price_month,walking_time_to_mrt,distance,studio,district,cluster_label
3873,1,1,7500A Beach Road,1.298468,103.8581,1.0,1.0,350,1979.0,Nicoll Highway MRT,The Plaza,0,https://www.99.co/singapore/rent/property/the-...,https://pic.99.co/v3/ShgqQV3U3cGBHViBLv7R54?wi...,1299,5.0,300.0,1,7,4
7020,0,0,200 Jalan Sultan,1.302965,103.861447,1.0,1.0,250,1977.0,Lavender MRT,Textile Centre,0,https://www.99.co/singapore/rent/property/text...,https://pic.99.co/v3/fW3brnGdM5bMwyQDgBFhiW?wi...,1500,10.0,388.0,1,7,5
7021,0,0,200 Jalan Sultan,1.302965,103.861447,1.0,1.0,250,1977.0,Lavender MRT,Textile Centre,0,https://www.99.co/singapore/rent/property/text...,https://pic.99.co/v3/H3HBz7b7ZjMh3UbRuTbA4S?wi...,1800,10.0,388.0,0,7,5
6871,0,0,463 Crawford Lane,1.304996,103.862496,1.0,1.0,300,1981.0,Lavender MRT,Crawford Court,0,https://www.99.co/singapore/rent/property/craw...,https://pic.99.co/v3/kUHUycjmw9sUqg7X2D4dv7?wi...,1750,5.0,254.0,1,7,5
7291,0,0,1 Mcnally Street,1.302413,103.851247,1.0,1.0,250,1994.0,Rochor MRT,Lasalle College Of The Arts,0,https://www.99.co/singapore/rent/property/lasa...,https://pic.99.co/v3/Jc4XFqg28ifeZZgrGHBH9n?wi...,1750,5.0,167.0,1,7,5

From user input to recommended unit, the recommendation seemed reasonable and following the weightages of the feature importance eg district & price. Now our content base recommendation can be put into production

#### Similar Neighbhourhood

In [1037]:
user_clus = user.drop('district', axis=1)

#update the weight of the feature (eg put more importance on price and district)
user_clus = feature_importance_cluster.transform(user_clus)

In [1038]:
#display recommender
index = neigh_clus.kneighbors(user_clus,  return_distance=False)
selected_index = np.reshape(index, -1)
df_recommender.iloc[selected_index]

,gym,pool,detailed_address,lat,long,bedrooms,bathrooms,sqft,built_year,mrt,building_name,tenure,link,picture_url,price_month,walking_time_to_mrt,distance,studio,district,cluster_label
6913,1,0,51 Tampines Central 7,1.35048,103.93626,1.0,1.0,300,2016.0,Tampines MRT,Citylife @ Tampines,0,https://www.99.co/singapore/rent/property/city...,https://pic.99.co/v3/Kp2wZtADWftCouvEDZbNkN?wi...,1800,15.0,1128.0,1,18,2
6910,1,0,67 Tampines Central 7,1.35048,103.93626,1.0,1.0,330,2016.0,Tampines MRT,Citylife @ Tampines,0,https://www.99.co/singapore/rent/property/city...,https://pic.99.co/v3/Jvrh3T5epmehgFJVJnmTUc?wi...,2000,15.0,1128.0,1,18,2
6101,1,1,6 Hougang Street 92,1.37124,103.89162,1.0,1.0,979,2000.0,No_MRT,Regentville,0,https://www.99.co/singapore/rent/property/rege...,https://pic.99.co/v3/kqsGnzCcZeBvAHx4hvo77A?wi...,1350,35.0,5169.0,0,19,2
3751,1,1,14 Kitchener Link,1.311671,103.8572,1.0,1.0,130,2009.0,Farrer Park MRT,City Square Residences,1,https://www.99.co/singapore/rent/property/city...,https://pic.99.co/v3/pQfn3niD9pK4m2jXc9KDkb?wi...,1550,10.0,414.0,0,8,2
5155,1,1,10 Shanghai Road,1.295223,103.827603,1.0,1.0,300,2002.0,No_MRT,Charleston,1,https://www.99.co/singapore/rent/property/char...,https://pic.99.co/v3/wkxDcfMDzo8oPX9ezkytBi?wi...,1700,35.0,5169.0,1,10,2

From user input to recommended unit, the recommendation seemed reasonable and following the weightages of the feature importance eg cluster & price. Now our content base recommendation can be put into production

# Setting Up for FlaskAPP

In [1039]:
#revert back mrt_walking time to Not Applicable for No MRT
df_recommender['walking_time_to_mrt'] = np.where(df_recommender['mrt'] == 'No_MRT', '-', df_recommender['walking_time_to_mrt'])
df_recommender['pool'] = np.where(df_recommender['pool'] == 1, 'Yes', 'No')
df_recommender['gym'] = np.where(df_recommender['gym'] == 1, 'Yes', 'No')

In [1040]:
#casting document type for asthetic 
df_recommender['bedrooms'] = df_recommender['bedrooms'].astype(int)
df_recommender['bathrooms'] = df_recommender['bathrooms'].astype(int)
df_recommender['built_year'] = df_recommender['built_year'].astype(int)

In [1041]:
# # #save transformer
# with open("WebApp\static\models\onehotencoder_Transformer.pkl", "wb") as to_save:
#     pickle.dump(ct, to_save)

# # save feature_importance for similar listing 
# with open("WebApp\static\models\FeatureImportanceScale.joblib", "wb") as to_save:
#     dill.dump(feature_importance, to_save)

# #save model for similar listing
# with open("WebApp\static\models\Kneighbour.pkl", "wb") as to_save:
#     pickle.dump(neigh, to_save)

# # save feature_importance for similar neighbhourhood
# with open("WebApp\static\models\FeatureImportanceScaleCluster.joblib", "wb") as to_save:
#     dill.dump(feature_importance_cluster, to_save)

# #save model for similar for similar neighbhourhood
# with open("WebApp\static\models\KneighbourCluster.pkl", "wb") as to_save:
#     pickle.dump(neigh_clus, to_save)    
    
    
# #save recommender database
# with open("WebApp\static\database\df_recommender.pkl", "wb") as to_save:
#     pickle.dump(df_recommender, to_save)

In [1042]:
with open("WebApp\static\models\Kneighbour.pkl", "rb") as to_load:
    neigh = pickle.load(to_load)

with open("WebApp\static\models\KneighbourCluster.pkl", "rb") as to_load:
    neigh_clus = pickle.load(to_load)
    
with open("WebApp\static\models\onehotencoder_Transformer.pkl", "rb") as to_load:
    ct = pickle.load(to_load)

with open("WebApp\static\models\FeatureImportanceScale.joblib", "rb") as to_load:
    feature_importance = dill.load(to_load)

with open("WebApp\static\models\FeatureImportanceScaleCluster.joblib", "rb") as to_load:
    feature_importance_cluster = dill.load(to_load)

with open("WebApp\static\database\df_recommender.pkl", "rb") as to_load:
    df_recommender = pickle.load(to_load)

In [1043]:
#create a function to combine above transformation steps for Flask app

def customtransformation(X):
    """
    Function to combine
    
    1.OneHotEncoder
    2.MixMaxScaler
    """

    

    #combine feature_name
    #feature of OHE
    feature1 = ct.named_transformers_.onehotencoder.get_feature_names().tolist()
    
    #remaining feature Note the feature order is important as this is the results of OHE transformation
    feature2 = ['built_year', 'walking_time_to_mrt', 'sqft', 'price_month', 'district', 'cluster_label', 'pool', 'gym', ]

    #combine 
    all_feature = feature1 + feature2
    
    rearrange = ['district', 'mrt', 'built_year', 'walking_time_to_mrt', 'sqft', 'pool', 'gym', 'price_month', 'cluster_label']

    X = pd.DataFrame.from_dict(X, orient='index').T
    X = X[rearrange]
    
    #transform to Dataframe for Feature Importance    
    X_tr = pd.DataFrame(ct.transform(X).toarray(), columns=all_feature)

    return X_tr

In [1044]:
def recommendlisting(user_input):
    

    X = customtransformation(user_input)
    X = feature_importance.transform(X)
    X = X.drop('cluster_label', axis=1)
    
    index = neigh.kneighbors(X,  return_distance=False)
    selected_index = np.reshape(index, -1)
    
    sim = df_recommender.iloc[selected_index]
    
    return sim

In [1045]:
def recommendneighbhour(user_input):
    

    X = customtransformation(user_input)
    X = feature_importance_cluster.transform(X)
    
    X = X.drop('district', axis=1)
    
    index = neigh_clus.kneighbors(X,  return_distance=False)
    selected_index = np.reshape(index, -1)
    
    sim = df_recommender.iloc[selected_index]
    
    return sim

In [1046]:
recommendlisting(user_input)

,gym,pool,detailed_address,lat,long,bedrooms,bathrooms,sqft,built_year,mrt,building_name,tenure,link,picture_url,price_month,walking_time_to_mrt,distance,studio,district,cluster_label
3873,Yes,Yes,7500A Beach Road,1.298468,103.8581,1,1,350,1979,Nicoll Highway MRT,The Plaza,0,https://www.99.co/singapore/rent/property/the-...,https://pic.99.co/v3/ShgqQV3U3cGBHViBLv7R54?wi...,1299,5.0,300.0,1,7,4
7020,No,No,200 Jalan Sultan,1.302965,103.861447,1,1,250,1977,Lavender MRT,Textile Centre,0,https://www.99.co/singapore/rent/property/text...,https://pic.99.co/v3/fW3brnGdM5bMwyQDgBFhiW?wi...,1500,10.0,388.0,1,7,5
7021,No,No,200 Jalan Sultan,1.302965,103.861447,1,1,250,1977,Lavender MRT,Textile Centre,0,https://www.99.co/singapore/rent/property/text...,https://pic.99.co/v3/H3HBz7b7ZjMh3UbRuTbA4S?wi...,1800,10.0,388.0,0,7,5
6871,No,No,463 Crawford Lane,1.304996,103.862496,1,1,300,1981,Lavender MRT,Crawford Court,0,https://www.99.co/singapore/rent/property/craw...,https://pic.99.co/v3/kUHUycjmw9sUqg7X2D4dv7?wi...,1750,5.0,254.0,1,7,5
7291,No,No,1 Mcnally Street,1.302413,103.851247,1,1,250,1994,Rochor MRT,Lasalle College Of The Arts,0,https://www.99.co/singapore/rent/property/lasa...,https://pic.99.co/v3/Jc4XFqg28ifeZZgrGHBH9n?wi...,1750,5.0,167.0,1,7,5

In [1047]:
recommendneighbhour(user_input)

,gym,pool,detailed_address,lat,long,bedrooms,bathrooms,sqft,built_year,mrt,building_name,tenure,link,picture_url,price_month,walking_time_to_mrt,distance,studio,district,cluster_label
6913,Yes,No,51 Tampines Central 7,1.35048,103.93626,1,1,300,2016,Tampines MRT,Citylife @ Tampines,0,https://www.99.co/singapore/rent/property/city...,https://pic.99.co/v3/Kp2wZtADWftCouvEDZbNkN?wi...,1800,15.0,1128.0,1,18,2
6910,Yes,No,67 Tampines Central 7,1.35048,103.93626,1,1,330,2016,Tampines MRT,Citylife @ Tampines,0,https://www.99.co/singapore/rent/property/city...,https://pic.99.co/v3/Jvrh3T5epmehgFJVJnmTUc?wi...,2000,15.0,1128.0,1,18,2
6101,Yes,Yes,6 Hougang Street 92,1.37124,103.89162,1,1,979,2000,No_MRT,Regentville,0,https://www.99.co/singapore/rent/property/rege...,https://pic.99.co/v3/kqsGnzCcZeBvAHx4hvo77A?wi...,1350,-,5169.0,0,19,2
3751,Yes,Yes,14 Kitchener Link,1.311671,103.8572,1,1,130,2009,Farrer Park MRT,City Square Residences,1,https://www.99.co/singapore/rent/property/city...,https://pic.99.co/v3/pQfn3niD9pK4m2jXc9KDkb?wi...,1550,10.0,414.0,0,8,2
5155,Yes,Yes,10 Shanghai Road,1.295223,103.827603,1,1,300,2002,No_MRT,Charleston,1,https://www.99.co/singapore/rent/property/char...,https://pic.99.co/v3/wkxDcfMDzo8oPX9ezkytBi?wi...,1700,-,5169.0,1,10,2

We have gotten the same result in the user input testing section. We can write the model to flask for deployment